<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="brand">
      <span class="brand-icon">🍫</span>
      <span class="brand-name">Kop VP</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
