@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  --mat-sys-primary: rgb(144, 40, 42);
  --mat-sys-on-primary: #ffffff;
}

body {
  color-scheme: light;
  background-color: #f5f5f5;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

mat-card {
  border-radius: 12px !important;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08) !important;
}

.warn-item {
  color: #c62828 !important;
  mat-icon { color: #c62828 !important; }
}
